
.vs/xlLINExample/v17/ipch/AutoPCH/67ca05a68492f57a/XLLINEXAMPLE.ipch
.vs/xlLINExample/v17/ipch/AutoPCH/f8aba260eac62dd0/XLLINEXAMPLE.ipch
.vs/xlLINExample/FileContentIndex/1351d2db-251e-44fe-a343-00dfc3770479.vsidx
.vs/xlLINExample/v17/Browse.VC.opendb
*.vsidx
*.ipch
